@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --background: 222 0% 100%;
    --foreground: 222 0% 10%;
    --card: 222 0% 100%;
    --card-foreground: 222 0% 15%;
    --popover: 222 0% 100%;
    --popover-foreground: 222 95% 10%;
    --primary: 222 100% 72%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 184 10% 95%;
    --muted-foreground: 222 0% 40%;
    --accent: 184 10% 90%;
    --accent-foreground: 222 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 222 0% 100%;
    --border: 222 20% 82%;
    --input: 222 20% 50%;
    --ring: 222 100% 72%;
    --radius: 0.3rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222 10% 10%;
    --foreground: 222 0% 100%;
    --card: 222 0% 10%;
    --card-foreground: 222 0% 100%;
    --popover: 222 10% 5%;
    --popover-foreground: 222 0% 100%;
    --primary: 222 100% 72%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 184 10% 25%;
    --muted-foreground: 222 0% 65%;
    --accent: 184 10% 25%;
    --accent-foreground: 222 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 222 0% 100%;
    --border: 222 20% 50%;
    --input: 222 20% 50%;
    --ring: 222 100% 72%;
    --radius: 0.3rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
